variables:
  PYLINT_IMG: registry.radiobretzel.org/hosting/dockerfile-store/python:pylint

stages:
  - build
  - lint
  - test
  - release
  - cleanup

build:
  stage: build
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker build -t $CI_PROJECT_PATH:$CI_COMMIT_SHA .

pylint:
  stage: lint
  image: $PYLINT_IMG
  script:
    - python -m pylint setup.py
    - python -m pylint tests
    - python -m pylint rbcore
  allow_failure: true

pytest:
  stage: test
  image: $CI_PROJECT_PATH:$CI_COMMIT_SHA
  services:
    - name: mongo:latest
      alias: test-db
  variables:
    MONGO_URI: "test-db"
  script:
    - pip install .[test]
    - python setup.py test

push:
  stage: release
  when: on_success
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker tag $CI_PROJECT_PATH:$CI_COMMIT_SHA $CI_REGISTRY/$CI_PROJECT_PATH:$CI_COMMIT_REF_NAME
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH:$CI_COMMIT_REF_NAME

cleanup_fail:
  stage: cleanup
  when: on_failure
  script:
    - docker image rm -f $CI_PROJECT_PATH:$CI_COMMIT_SHA
